*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.root--layout--container{
  display: flex;
  flex-direction: column;
}

.navbar--container{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(34, 34, 141);
}

.navbar--container div h1{
  text-decoration: underline;
  text-decoration-color: red;
  padding: 0.1rem;
}

.navbar--container a{
  text-decoration: none;
  margin-right: 15px;
  color: white;
  padding: 0.6rem;
}

.navbar--container a.active{
  background-color: red;
  padding: 0.6rem;
  border-radius: 10px;
}

.component--display--container{
  color: white;
  padding: 1rem;
  background-color: rgb(42, 38, 38);
  height: 100%;
}

.help--layout--container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.help--layout--container--links{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}


.help--layout--container--links a{
  color: white;
  text-decoration: none;
  border: 0.1rem solid white;
  padding: 0.65rem;
  border-radius: 10px;
}

.help--layout--container--links a:hover{
  color: red;
}

.faq--container .question{
  border: 0.1rem solid white;
  margin: 0.2rem;
  padding: 1rem;
}